<<<<<<< HEAD
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

.main{
    margin-top: 10vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.output{
    padding:2vw;
    border: 1px solid palegreen;
    width: 50vw;
    height: 12vh;
    display: flex;
    justify-content: flex-end;
    font-size: 6vh;
    align-items: center;
    border-radius: 2vh;
}
.row1{
    display: flex;
    justify-content: center;
    margin-top: 3vh;
    width:50vw;
}
.row2{
    display: flex;
    justify-content: center;
    margin-top: 3vh;
    width:50vw;
}
.row3{
    display: flex;
    justify-content: center;
    margin-top: 3vh;
    width:50vw;
}
.row4{
    display: flex;
    justify-content: center;
    margin-top: 3vh;
    width:50vw;
}
.row5{
    display: flex;
    justify-content: center;
    margin-top: 3vh;
    width:50vw;
}
.btn{
height: 8vh;
width:5vw;
margin-left:2vw;
}
=======
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

.main{
    margin-top: 10vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.output{
    padding:2vw;
    border: 1px solid palegreen;
    width: 50vw;
    height: 12vh;
    display: flex;
    justify-content: flex-end;
    font-size: 6vh;
    align-items: center;
    border-radius: 2vh;
}
.row1{
    display: flex;
    justify-content: center;
    margin-top: 3vh;
    width:50vw;
}
.row2{
    display: flex;
    justify-content: center;
    margin-top: 3vh;
    width:50vw;
}
.row3{
    display: flex;
    justify-content: center;
    margin-top: 3vh;
    width:50vw;
}
.row4{
    display: flex;
    justify-content: center;
    margin-top: 3vh;
    width:50vw;
}
.row5{
    display: flex;
    justify-content: center;
    margin-top: 3vh;
    width:50vw;
}
.btn{
height: 8vh;
width:5vw;
margin-left:2vw;
}
>>>>>>> 30c29db3b4bbfa992d22372b1569e0b7cf466415
